.odpoledn-innost {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .odpoledn-innost .div {
    background-color: #ffffff;
    width: 360px;
    height: 800px;
    position: relative;
  }x
  
  .odpoledn-innost .appbar-tvorba {
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .odpoledn-innost .appbar-tvorba-2 {
    display: flex;
    width: 360px;
    height: 59px;
    align-items: center;
    gap: 4px;
    padding: 8px 4px;
    position: relative;
    background-color: var(--m3syslightsurface-container);
  }
  
  .odpoledn-innost .leading-icon {
    display: flex;
    flex-direction: column;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin-top: -2.5px;
    margin-bottom: -2.5px;
  }
  
  .odpoledn-innost .container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .odpoledn-innost .state-layer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .odpoledn-innost .icons-arrow-back {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .odpoledn-innost .headline {
    position: relative;
    flex: 1;
    margin-top: -6.5px;
    margin-bottom: -6.5px;
    font-family: var(--m3-title-large-font-family);
    font-weight: var(--m3-title-large-font-weight);
    color: var(--m3syslighton-surface);
    font-size: var(--m3-title-large-font-size);
    letter-spacing: var(--m3-title-large-letter-spacing);
    line-height: var(--m3-title-large-line-height);
    font-style: var(--m3-title-large-font-style);
  }
  
  .odpoledn-innost .overlap {
    position: absolute;
    width: 340px;
    height: 713px;
    top: 72px;
    left: 11px;
    border-radius: 28px;
  }
  
  .odpoledn-innost .rectangle {
    position: absolute;
    width: 340px;
    height: 713px;
    top: 0;
    left: 0;
    background-color: #ece6f0;
    border-radius: 28px;
  }
  
  .odpoledn-innost .button-dal {
    display: flex;
    flex-direction: column;
    width: 139px;
    height: 57px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 617px;
    left: 100px;
    background-color: var(--m-3syslightprimary);
    border-radius: 100px;
    overflow: hidden;
  }
  
  .odpoledn-innost .label-text-wrapper {
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  
  .odpoledn-innost .label-text {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: var(--m3syslighton-primary);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .odpoledn-innost .as-bud-ku-mus-b-t {
    position: absolute;
    width: 308px;
    height: 26px;
    top: 73px;
    left: 21px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 20px;
  }
  
  .odpoledn-innost .text-wrapper {
    position: absolute;
    top: 20px;
    left: 15px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .odpoledn-innost .overlap-group {
    position: absolute;
    width: 326px;
    height: 178px;
    top: 108px;
    left: -1px;
  }
  
  .odpoledn-innost .content-wrapper {
    width: 326px;
    height: 109px;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
  }
  
  .odpoledn-innost .content {
    display: flex;
    flex-direction: column;
    height: 40px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .odpoledn-innost .div-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .odpoledn-innost .label-text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-body-small-font-family);
    font-weight: var(--m3-body-small-font-weight);
    color: var(--m3syslighton-surface-variant);
    font-size: var(--m3-body-small-font-size);
    letter-spacing: var(--m3-body-small-letter-spacing);
    line-height: var(--m3-body-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-body-small-font-style);
  }
  
  .odpoledn-innost .placeholder-text {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .odpoledn-innost .placeholder-text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-body-large-font-family);
    font-weight: var(--m3-body-large-font-weight);
    color: var(--m3syslighton-surface-variant);
    font-size: var(--m3-body-large-font-size);
    letter-spacing: var(--m3-body-large-letter-spacing);
    line-height: var(--m3-body-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-body-large-font-style);
  }
  
  .odpoledn-innost .state-layer-2 {
    width: 326px;
    height: 109px;
    padding: 8px 16px;
    position: absolute;
    top: 69px;
    left: 0;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
  }
  
  .odpoledn-innost .label-text-3 {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    margin-top: -24px;
  }
  
  .odpoledn-innost .placeholder-text-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -8px;
    margin-bottom: -24px;
  }
  
  .odpoledn-innost .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-body-large-font-family);
    font-weight: var(--m3-body-large-font-weight);
    color: var(--m3syslighton-surface-variant);
    font-size: var(--m3-body-large-font-size);
    letter-spacing: var(--m3-body-large-letter-spacing);
    line-height: var(--m3-body-large-line-height);
    font-style: var(--m3-body-large-font-style);
  }
  
  .odpoledn-innost .text-wrapper-2 {
    position: absolute;
    width: 308px;
    height: 26px;
    top: 104px;
    left: 21px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 20px;
  }
  
  .odpoledn-innost .text-wrapper-3 {
    top: 76px;
    position: absolute;
    height: 20px;
    left: 79px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .odpoledn-innost .text-wrapper-4 {
    top: 107px;
    position: absolute;
    height: 20px;
    left: 79px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 20px;
    white-space: nowrap;
  }
  