/* colours */
:root{
  --primary: #e0d2ff;
  --secondary: #9988f9;
  --title: #0e0022;
}

#appbar-title {
  color: black;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

/* layout styles */
body {
  padding: 0!important;
}
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* action styles */
.actions{
  margin-top: 20px;
}
.card-panel.action{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr; 
  grid-template-areas: "time details edit";
  position: relative;
}
.action-time-normal{
  grid-area: time;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
}
.action-time-main{
  grid-area: time;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}
.action-time-start{
}
.action-time-end{
}
.action-details{
  grid-area: details;
  margin-top: 6px;
}
.action-edit{
  grid-area: edit;
  position: absolute;
  top: 0px;
  right: 0px;
}
.action-edit i{
  font-size: 18px;
}
.action-title{
  font-weight: bold;
}
.action-desc{
  margin-top: 30px;
  font-weight: lighter;
}
.action-detail{
  font-size: 0.8em;
  max-width: 400px;
}

/* other-styles */
.btn-floating {
  min-width: 180px;
  position: fixed;
	bottom: 40px;
  right: 20px;
	border-radius:8px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.btn-large{
  border-radius: 8px;
}
.add-btn{
  background: var(--secondary) !important;
  width: auto!important;
  left: 20px;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--secondary);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

.btn-floating-update-actvity {
  min-width: 180px;
  position: fixed;
	bottom: 40px;
	border-radius:8px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.odpoledn-innost {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.odpoledn-innost .div {
  background-color: #ffffff;
  width: 400px;
  height: 800px;
  position: relative;
}


.odpoledn-innost .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}


.odpoledn-innost .headline {
  position: relative;
  flex: 1;
  margin-top: -6.5px;
  margin-bottom: -6.5px;
  font-family: var(--m3-title-large-font-family);
  font-weight: var(--m3-title-large-font-weight);
  color: var(--m3syslighton-surface);
  font-size: var(--m3-title-large-font-size);
  letter-spacing: var(--m3-title-large-letter-spacing);
  line-height: var(--m3-title-large-line-height);
  font-style: var(--m3-title-large-font-style);
}

.odpoledn-innost .overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
}

.odpoledn-innost .rectangle {
  position: absolute;
  width: 100%;
  height: 100%;  
   
  background-color: #ece6f0;
  border-radius: 28px;
}

.odpoledn-innost .label-text-wrapper {
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.odpoledn-innost .label-text {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: var(--m3syslighton-primary);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.odpoledn-innost .as-bud-ku-mus-b-t {
  position: absolute;
  width: 308px;
  height: 26px;
  top: 73px;
  left: 21px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.odpoledn-innost .text-wrapper {
  position: absolute;
  top: 20px;
  left: 15px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.odpoledn-innost .overlap-group {
  position: absolute;
  width: 326px;
  height: 178px;
  top: 108px;
  left: -1px;
}

.odpoledn-innost .content-wrapper {
  width: 326px;
  height: 109px;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
}

.odpoledn-innost .content {
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.odpoledn-innost .div-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  font-size: smaller;
}

.odpoledn-innost .label-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.odpoledn-innost .placeholder-text {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.odpoledn-innost .placeholder-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.odpoledn-innost .state-layer-2 {
  width: 326px;
  height: 109px;
  padding: 8px 16px;
  position: absolute;
  top: 69px;
  left: 0;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
}

.odpoledn-innost .label-text-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-top: -24px;
  font-size: smaller;
}

.odpoledn-innost .placeholder-text-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -8px;
  margin-bottom: -24px;
}

.odpoledn-innost .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  font-style: var(--m3-body-large-font-style);
}

.odpoledn-innost .text-wrapper-2 {
  position: absolute;
  width: 308px;
  height: 26px;
  top: 104px;
  left: 21px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.odpoledn-innost .text-wrapper-3 {
  top: 76px;
  position: absolute;
  height: 20px;
  left: 79px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.odpoledn-innost .text-wrapper-4 {
  top: 107px;
  position: absolute;
  height: 20px;
  left: 79px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}


.card {
  background-color: white;
  border: 1px solid #333;
  border-radius: .5rem;
  padding: .5rem;
  display: none;
  min-height: 80%;
}

.card.active {
  display: block;
}


/* form-styles */
.form-title{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-text{
  font-size: 0.8em;
  margin-bottom: 10px;
}

.form-text-bold{
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

/*switch*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #F5DEB3;
  color: #282828;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 24px;
}
.toggle-checkbox-wrapper {
  background-color: #fff;
  padding: 24px;
}

.toggle-checkbox {
  display: none;
}

slider {
  position: relative;
}

.slider::before {
  background: lightblue;
  border-radius: 34px;
  bottom: 0;
  content: '';
  height: 24px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 40px;
}

.slider::after {
  background: navy;
  border-radius: 50%;
  bottom: 0;
  content: '';
  height: 16px;
  left: 4px;
  margin: auto;
  position: absolute;
  top: 0;
  transition: 0.4s;
  width: 16px;
}

.toggle-switch {
  margin-left: 50px;
}
.toggle-switch.opt1 {
  color: navy;
}
.toggle-switch.opt2 {
  color: brown;
  display: none;
}

.toggle-checkbox:checked + .slider::before {
  background-color: lightsalmon;
}
.toggle-checkbox:checked + .slider::after {
  background-color: maroon;
  transform: translateX(16px);
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right:    0;
  bottom:   0;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  padding: 5px;
}

.input-column {
  flex-direction: column;
}

.switch {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.switch__label {
  display: block;
  padding: 0 0 0 44px;
  cursor: pointer;
}
.switch__label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, .26);
  border-radius: 14px;
  z-index: 1;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch__label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  z-index: 2;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left, background-color;
}
.switch__input:checked + .switch__label:before {
  background-color: rgba(63, 81, 181, .5);
}
.switch__input:checked + .switch__label:after {
  left: 16px;
  background-color: #3f51b5;
}
